.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #333; 
  color: white; 
  cursor: pointer;
}

.custom-table th:hover {
  background-color: #555; 
}

.even-row {
  background-color: #f0f0f0;
}

.odd-row {
  background-color: #fff;
}

.favourite__list_action {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
